/* Cards */

.card{
	position:relative;
	box-shadow:$shadow;
	border-width:0;
	color:white;

	&:hover, &:focus, &:active{
		color:white;
	}

	.card-section{
		position:absolute;
		height:65%;
		width:100%;
		bottom:0;
		left:0;
		@include linear-gradient(to bottom, transparent, $color-primary 60%);
		padding-top:20px;

		.card-type{
			font-family:$font_header;
			font-weight:100;
			text-transform:uppercase;
			font-size:smaller;
			margin-bottom:10px;
		}
		.card-title{
			font-family:$font_header;
			font-weight:900;
			line-height:1;
			font-size:2.5em;
			color:white;
			text-transform:uppercase;
			margin-bottom:20px;
		}

		ul.card-info{
			list-style:none;
			margin-left:0;
			>li{
				position:relative;
				padding-left:1.4em;
				margin-bottom:10px;
				line-height:1.2;

				[class^="icon-"]{
					position:absolute;
					left:0;
					top:0;
					font-size:small;
				}
			}
		}
	}

	.button-next{
		position:absolute;
		bottom:0;
		right:5px;
		z-index:1;
		svg{
			path{
				fill:white;
			}
		}
	}
}
